root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{php,json,yml,twig}]
charset = utf-8

# 4 space indentation
[*.php]
indent_style = space
indent_size = 4

[*.{json,yml,txt}]
indent_style = space
indent_size = 2
